.booking {
  padding: 50px 0;
  position: relative;
}

.booking__wrapper {
  display: grid;
  grid-template-columns: 1.22fr 1fr;
  align-items: center;
  padding: 0 163px;
  gap: 0 143px;
}

.booking__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  & h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    margin: 0 0 5px;
  }

  & p {
    max-width: 352px;
    font-size: 18px;
    line-height: 27px;
    padding: 3px 0 0;
    margin: 0;
  }
}

.booking__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

@media (max-width: $vp-1023) {
  .booking {
    padding: 87px 0 100px;
  }

  .booking__wrapper {
    display: block;
  }

  .booking__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 53px;
    padding: 0;

    & h2 {
      font-size: 34px;
      line-height: 51px;
      text-align: center;
      margin-bottom: 5px;
    }

    & p {
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .booking__form {
    margin: 0 137px;
  }
}

@media (max-width: $vp-767) {
  .booking {
    padding: 59px 0 65px;
  }

  .booking__text {
    margin: 0 0 34px;

    & h2 {
      font-size: 24px;
      line-height: 31.2px;
      margin-bottom: 13px;
    }

    & p {
      font-size: 16px;
      line-height: 22.4px;
      padding: 0 10px;
    }
  }

  .booking__form {
    margin: 0;
  }
}
