.cruises {
  padding: 85px 0 120px;

  & h2 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 49px;
  }
}

.cruises__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cruises__list {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  width: 100%;
}

.cruises__item {
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-tangaroa;
  aspect-ratio: 260 / 386;
  padding: 29px 20px 28px 30px;

  & h3 {
    color: $color-alice-blue;
    z-index: 2;
    bottom: 23px;
    left: 30px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin: 0;
    margin-top: auto;
    transform: translateY(62px);
  }

  & a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    background-color: $color-alice-blue;
    padding: 10px 0;
    text-align: center;
    margin-top: 16px;
    display: block;
    z-index: 2;
    opacity: 0;

    &:hover {
      box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

.cruises__info-list {
  margin: 0;
  list-style-type: none;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  overflow: auto;

  & ul {
    padding: 0;
  }

  & li {
    margin-bottom: 11px;
  }

  & h4 {
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 500;
    color: $color-alice-blue;
    margin: 0;
    padding: 0 0 2px;
  }

  & p {
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
    color: $color-quartz;
    margin: 0;
  }
}

.cruises__info-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.cruises__item:hover,
.cruises__item:focus-within {
  padding: 29px 25px 30px;

  .cruises__info-list {
    display: flex;
  }

  .cruises__info-image {
    display: none;
  }

  & h3 {
    margin: 0 0 20px;
    transform: none;
  }

  & a {
    display: block;
    opacity: 1;
    margin-top: auto;
  }
}

@media (max-width: $vp-1023) {
  .cruises {
    padding: 90px 0 100px;

    & h2 {
      font-size: 26px;
      line-height: 39px;
    }
  }

  .cruises__item {
    padding: 29px 35px 28px;
    aspect-ratio: 309 / 386;

    & h3 {
      transform: translateY(56px);
    }
  }

  .cruises__item:hover {
    padding: 29px 35px 28px;
  }
}

@media (max-width: $vp-767) {
  .cruises {
    padding: 57px 0 64px;

    & h2 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 31px;
    }
  }

  .cruises__list {
    padding: 0 10px;
  }

  .cruises__item {
    padding: 29px 25px 18px;
    aspect-ratio: 270 / 386;
  }

  .cruises__item:hover {
    padding: 29px 25px 28px;
  }
}
